

<section>
  <div>
    <h1 class="resListHeadLine">Your result</h1>
  </div>
 

  <div>
  <table>
        <tr><th class="thResult">Name</th><td class="tdResult">{{userResult.userName}}</td></tr>
        <tr><th class="thResult">Test Name</th><td class="tdResult">{{userResult.testName}}</td></tr>
        <tr><th class="thResult">Elapsed Time</th><td class="tdResult">{{ userResult.elapsedTime}}</td></tr>
        <tr><th class="thResult">Executed  Cases</th><td class="tdResult">{{userResult.numberOfCases}}</td></tr>
        <tr><th class="thResult">Your Score</th><td class="tdResult">{{userResult.score}}</td></tr>
        <tr><th class="thResult">Complexity</th><td class="tdResult">{{userResult.complexity}}</td></tr>
        <tr><th class="thResult">Percentage</th><td class="tdResult">{{ergebnis}}</td></tr>
  </table>
  </div>
  
  <div>
        <p class="resultFoot">You reached {{userResult.score}} of {{userResult.numberOfCases}} possible Points</p>
  </div>

<div class="buttonbox">
    <form action = "privat" >
        <input class="rbutton" type="submit" value="Test Page"/>
    </form>

    <form action="resultlist">
      <input class="rbutton" type="submit" value="See Resultlist"/>
    </form>
</div>

  
</section>


