<h1 class="resListHeadLine">Result List of {{this.sessUserName}}</h1>

  <table class="tableAlign">
    <thead>
  
  </thead>
      <tr class="thResult">
        <th>Test Name</th>
        <th>Complexity</th>
        <th>elapsedTime</th>
        <th>Executed Cases</th>
        <th>Your Score</th>                           
        <th>Percentage</th>        
      </tr>
    
    
    <tbody>
      {{#each resultList}}      
      <tr class="tdResult"> 
        <td>{{this.testName}}</td>
        <td>{{this.complexity}}</td>
        <td>{{this.elapsedTime}}</td>
        <td>{{this.numberOfCases}}</td>
        <td>{{this.score}}</td>
        <td>{{this.resultInPercentage}}</td>        
      {{/each}}            
      </tr>       
    </tbody>
  </table>
