<h1>Du bist gerade auf der "RESULTS" Seite.<br>
Die Route scheint also zu passen</h1>

<h2>Results Details</h2>
{{#if userResult}}
<div>User Name: {{userResult.userName}}</div><br>
<div>Test ID: {{userResult.testId}}</div><br>
<div>Elapsed Time :{{ userResult.elapsedTime}}</div><br>
<div>Executed Cases : {{userResult.numberOfCases}}</div><br>
<div>Your Score : {{userResult.score}}</div><br>
<div>Target achievement in percent: {{ergebnis}}</div>
{{/if}}
<h1>You are fit / partial fit / fired.</h1>
<p>You has reached {{userResult.score}} Points of {{userResult.numberOfCases}} possible Points</p>

