
<div>
  <h2><span>Test: </span> <span id="test-name">{{testName}}</span> <span style="display:none"> Id: {{this._id}}</span></h2>
</div>   
<div>
  <h3 id="current-case">Case: none</h3>
</div>   
<div>
  <h3><span>Complexity: </span><span id="complexity">{{complexity}}</span></h3>
</div>  

<ul id = "testcases" style="display:none">
  {{#each cases}}      
    <li><span id="case{{@index}}">{{this._id}}</span>  <span id="result{{@index}}">Result: </span> </li>    
  {{/each}}
</ul>  

<div style="display:none">
  <h6><span> Number of cases: </span> <span id="num-cases">{{numOfCases}}</span> </h6>
</div>  

    

<div id ="test-and-loader">
        <div id="loader-icon"><img  src="../images/loader.gif" alt="" width="310"></img> </div>
        <div id="test-container">
          <table id="test-case">
            <tbody>
              <tr class="test-line">
                <td id="test-elem11"> </td>
                <td id="test-elem12"> </td>
                <td id="test-elem13"> </td>
              </tr>
              <tr class="test-line">
                <td id="test-elem21"> </td>
                <td id="test-elem22"> </td>
                <td id="test-elem23"> </td>
              </tr>
              <tr class="test-line">
                <td id="test-elem31"> </td>
                <td id="test-elem32"> </td>
                <td id="test-elem33"> </td>
              </tr>
            </tbody>
          </table>
         
          <div id="nav-buttons">
            <button class="nav" id="nextcase-btn" onclick="nextCase()"><h3>Start Test</h3></button>
            <button class="nav" id="reset-btn" onclick="resetCase()"><h3>Reset</h3></button>
          </div>
        </div>
</div>
<!-- h3>____________________________________________</h3-->
        <div>
            <table id="menu">
                <tbody>
                <tr>
                    <td><button id="A1" onclick="selectShape('A1')"></button></td>
                    <td><button id="B1" onclick="selectShape('B1')"></button></td>
                    <td><button id="C1" onclick="selectShape('C1')"></button></td>
                    <td><button id="D1" onclick="selectShape('D1')"></button></td>
                    <td><button id="E1" onclick="selectShape('E1')"></button></td>
                    <td><button id="F1" onclick="selectShape('F1')"></button></td>
                </tr>
                <tr>
                    <td><button id="A2" onclick="selectShape('A2')"></button></td>
                    <td><button id="B2" onclick="selectShape('B2')"></button></td>
                    <td><button id="C2" onclick="selectShape('C2')"></button></td>
                    <td><button id="D2" onclick="selectShape('D2')"></button></td>
                    <td><button id="E2" onclick="selectShape('E2')"></button></td>
                    <td><button id="F2" onclick="selectShape('F2')"></button></td>
                </tr>
                <tr>
                    <td><button id="A3" onclick="selectShape('A3')"></button></td>
                    <td><button id="B3" onclick="selectShape('B3')"></button></td>
                    <td><button id="C3" onclick="selectShape('C3')"></button></td>
                    <td><button id="D3" onclick="selectShape('D3')"></button></td>
                    <td><button id="E3" onclick="selectShape('E3')"></button></td>
                    <td><button id="F3" onclick="selectShape('F3')"></button></td>
                </tr>
                <tr>
                    <td><button id="A4" onclick="selectShape('A4')"></button></td>
                    <td><button id="B4" onclick="selectShape('B4')"></button></td>
                    <td><button id="C4" onclick="selectShape('C4')"></button></td>
                    <td><button id="D4" onclick="selectShape('D4')"></button></td>
                    <td><button id="E4" onclick="selectShape('E4')"></button></td>
                    <td><button id="F4" onclick="selectShape('F4')"></button></td>
                </tr>


            </tbody>
            </table>
        </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/javascripts/diagram.js"></script>
    <script src="/javascripts/caseUI.js"></script>

    
